@{
    ViewBag.Title = "Control de Consultas";
}
@Html.Partial("Navigation")
@Html.Partial("Topbar")

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Control de consultas</h1>
    <p class="mb-4">Administracion de consultas de los pacientes</p>


    <!-- DataTales  -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Edad</th>
                            <th>Fecha y hora de cita</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011/07/25</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>61</td>
                            <td>2012/12/02</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Herrod Chandler</td>
                            <td>Sales Assistant</td>
                            <td>San Francisco</td>
                            <td>59</td>
                            <td>2012/08/06</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Rhona Davidson</td>
                            <td>Integration Specialist</td>
                            <td>Tokyo</td>
                            <td>55</td>
                            <td>2010/10/14</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Colleen Hurst</td>
                            <td>Javascript Developer</td>
                            <td>San Francisco</td>
                            <td>39</td>
                            <td>2009/09/15</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sonya Frost</td>
                            <td>Software Engineer</td>
                            <td>Edinburgh</td>
                            <td>23</td>
                            <td>2008/12/13</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jena Gaines</td>
                            <td>Office Manager</td>
                            <td>London</td>
                            <td>30</td>
                            <td>2008/12/19</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Quinn Flynn</td>
                            <td>Support Lead</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2013/03/03</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Charde Marshall</td>
                            <td>Regional Director</td>
                            <td>San Francisco</td>
                            <td>36</td>
                            <td>2008/10/16</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Haley Kennedy</td>
                            <td>Senior Marketing Designer</td>
                            <td>London</td>
                            <td>43</td>
                            <td>2012/12/18</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tatyana Fitzpatrick</td>
                            <td>Regional Director</td>
                            <td>London</td>
                            <td>19</td>
                            <td>2010/03/17</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>Caesar Vance</td>
                            <td>Pre-Sales Support</td>
                            <td>New York</td>
                            <td>21</td>
                            <td>2011/12/12</td>
                            <td>
                                <a href="DetalleConsulta" class="btn btn-warning btn-circle">
                                    <i class="fas fa-notes-medical"></i>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#sendModal" class="btn btn-success btn-circle">
                                    <i class="fas fa-user-md"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Send Modal-->
                <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿El paciente esta preparado?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Seleccione "Enviar" si desea enviar el paciente a consulta.<br />
                                Seleccione "Cancelar" si desea hacer algun cambio o epaciente no esta preparado para la cita.
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cacelar</button>
                                <a class="btn btn-success" href="#">Enviar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.container-fluid -->


@Html.Partial("Footer")
