@{
    ViewBag.Title = "Modificar datos de paciente";
}
@Html.Partial("_Navegacion")
@Html.Partial("_Topbar")

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="col-xl-12 col-lg-7 ">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Expediente de paciente</h1>

        </div>
        <div class="content-wrapper">
            <div class="col-md-12 col-sm-1 col-xl-12">
                <div class="card  shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Modifique los datos del paciente</h6>
                    </div>
                    <div class="card-body">
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Nombres</span></h6>
                                    <input class="form-control" type="text" id="NombresPaciente" required placeholder="Nombres" pattern="[A-Za-z]">
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Apellidos</span></h6>
                                    <input class="form-control" type="text" id="ApellidosPaciente" placeholder="Apellidos" pattern="[A-Za-z]">
                                </div>
                            </div>
                            <div class="form-group">
                                <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Dirección</span></h6>
                                <textarea class="form-control" id="DireccionPaciente" rows="3" maxlength="300" required placeholder="Dirección del paciente"></textarea>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">DUI</span></h6>
                                    <input class="form-control" type="number" id="DUIPaciente" min="0" placeholder="00000000-0" required />
                                </div>
                                <div class="col-sm-6">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Fecha de nacimiento</span></h6>
                                    <input type="date" class="form-control" id="datepicker" />

                                </div>
                            </div>
                            <div class=" form-group row">
                                <div class="form-group col-md-4">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Sexo</span></h6>
                                    <select id="inputState" class="form-control">
                                        <option>Femenino</option>
                                        <option>Masculino</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Correo electrónico</span></h6>
                                    <input class="form-control" type="text" id="CorreoPaciente" placeholder="correo@ejemplo.com">

                                </div>
                                <div class="form-group col-md-4">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Estado civil</span></h6>
                                    <select id="inputState" class="form-control">
                                        <option>Soltero</option>
                                        <option>Casado</option>
                                        <option>Divorciado</option>
                                        <option>Acompañado</option>
                                        <option>Viudo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mb-3 mb-sm-0">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Peso (Lb) </span></h6>
                                    <input class="form-control" type="number" id="PesoPaciente" min="0" placeholder="000" max="999">
                                </div>
                                <div class="col-sm-2 col-md-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Altura (cm)</span></h6>
                                    <input class="form-control" type="number" id="AlturaPaciente" min="0" max="225" placeholder="000">
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Teléfono</span></h6>
                                    <input class="form-control" type="number" id="TelefonoPaciente" placeholder="0000-0000" min="20000000" max="29999999" />
                                </div>
                            </div>
                            <div class="form-group">
                                <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Alergias</span></h6>
                                <input class="form-control" type="text" id="DireccionPaciente" placeholder="Alergia1, Alergia2" />
                            </div>
                            <div class="form-group">
                                <h6 class="m-0 font-weight-bold text-primary"><span class="label label-default">Padecimientos previos</span></h6>
                                <input class="form-control" type="text" id="DireccionPaciente" placeholder="Descripcion de padecimientos anteriores" />
                            </div>
                            <div>
                                <a href="Paciente" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="text">Regresar</span>
                                </a>
                                <a href="#" data-toggle="modal" data-target="#editModal" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Modificar expediente</span>
                                </a>

                            </div>

                        </form>

                        <!-- Edit Modal-->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">¿Desea modificar el expediente en el sistema?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Seleccione "Guardar" si está listo/a para finalizar la modificacion del expediente.<br />
                                        Seleccione "Cancelar si desea hacer algun cambio o ya no desea modificar el expediente".
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-danger" type="button" data-dismiss="modal">Cacelar</button>
                                        <a class="btn btn-success" href="#">Guardar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
</div>
@Html.Partial("_Footer")

